apiVersion: apps/v1
kind: Deployment
metadata:
  name: cka-nginx-deployment
spec:
  replicas: 20
  selector:
    matchLabels:
      app: cka-nginx-deployment
  template:
    metadata:
      labels:
        app: cka-nginx-deployment
    spec:
      containers:
      - name: cka-nginx-deployment
        image: nginx
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: cka-nginx-deployment
spec:
  selector:
    app: cka-nginx-deployment
  ports:
  - port: 80  
    targetPort: 80
  type: LoadBalancer