apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    run: nginx
  name: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      run: nginx
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        run: nginx
    spec:
      volumes:
      - name: logs
        emptyDir: {}
      containers:
      - image: nginx
        name: nginx
        resources: {}
        args: [/bin/sh, -c,'i=0; while true; do echo "$i: $(date)"; i=$((i+1)); sleep 1; done > /var/log/teste.log']
        volumeMounts:
          - name: logs
            mountPath: /var/log
      - image: busybox
        name: sidecar
        command: ["/bin/sh","-c","tail -n+1 -f /var/log/teste.log"]
        volumeMounts:
        - name: logs
          mountPath: /var/log